@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: 'Inter', sans-serif;

}

@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-display: auto;
  font-weight: 400;
  src: 'Inter', sans-serif;

}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-display: auto;
  font-weight: 600;
  src: 'Inter', sans-serif;

}

@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-display: auto;
  font-weight: 600;
  src: 'Inter', sans-serif;

}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-display: auto;
  font-weight: 800;
  src: 'Inter', sans-serif;

}

@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-display: auto;
  font-weight: 800;
  src: 'Inter', sans-serif;

}